/*
Author: Sonia Anton Llanes
Created on: 29-septiembre-2020
Last modification: 11-octubre-2020
CSS Index General Segundo Curso del Módulo Desarrollo de Aplicaciones Web
*/


* { box-sizing: border-box; margin:0px; padding:0px;}
ul, ol {list-style: none; }
a{text-decoration: none; color:#000; }
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Tamaño y Posicion de los Elementos con Grid */
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 10% auto 8%;
    grid-template-columns:1% 5% auto 1%;
    grid-template-areas:
        "header header header header"
        ". . main ."
        ". footer footer .";
}

.header{
    grid-area: header;
}
.main{
    grid-area: main;
    justify-self: center;
    overflow-x: scroll;
}
.footer{
    grid-area: footer;
}


/* Tamaño y Posicion dentro del elemento*/
.h1{
    width: 100%;
    height: 100%;
}
.h1 a{
    height: 100%;
}
.menu ul li{
    display: block;
    height: 10vh;
    width: 100%;
}
.ref{
    width: 100%;
}
.tdimg{
    width: 40px;
}
img{
    width: 70%;
}
.ejercicio{
    width: 80%;
}
.fnav ul li{
    display: inline-block; 
    width: 45%;
}
.fnav li img{
    height: 7vh;
    width: auto;
}

/* Border, margin y padding */
h2{
    margin-top: 2%;
}
table{
    margin: 1% 3% 1% 2%;
    padding: 1% 2% 1% 2%;
}
.ejercicio{
    padding: 1% 0%;
}
.trfin{
    padding-bottom: 6%;
}
.footer{
    border-top: 2px solid #BF2411;
}


/* Estilo background */
.h1{
    background-image: url("../images/fondo_header.jpg");
    background-size: 100%;
    /*height: 100%;*/
}
.active{
    background: linear-gradient(90deg, #BF2411, white);
}
.footer{
    background-color: white;
}

/* Estilo del texto */
.h1{
    text-align: center;
    vertical-align: middle;
}
.h1 a{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
h2{
    color: #bb1212;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    font-weight: bolder;
}
h3{
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
}
.menu{
    width: 100%;
}
.menu li{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.tr{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    vertical-align: middle;    
}
.tdimg{
    text-align: center;
}
.footer{
    text-align: center;
}
.fnav ul li{
    vertical-align: middle;
}
.ftexto{
    font-size: 20px;
    font-weight: bolder;
}


/* Hover */
.menu li:hover{
    width: 100%;
    border-bottom: 1px solid #BF2411;
    border-left: 1px solid #BF2411;
    background-color: #BF2411;
    color: white;
}
.menu li a:hover{
    width: 100%;
    color: white;
}
.tr:hover{
    background: linear-gradient(90deg, #BF2411, white);
}


